/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

body {
 font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

a {
  color: #56BE7F;
}

.icon-block {
padding: 0 15px;
}
.icon-block .material-icons {
font-size: inherit;
}

.padding-imagem {
  padding-top: 5%;
}

/*
Menu */

nav {
  height: 64px !important;
}

.navbar-fixed nav {
  top: 0 !important;
}

nav ul a {
  color: #7b7967;
  text-transform: uppercase;
}

nav ul a:hover {
  color: green;
}

.rede-social ul li {
  margin: 0 5px;
}

.brand-logo {
  margin-top: 10px;
}

nav .button-collapse i {
  color: green;
}

nav ul a:hover {
  background: none !important;
}

#topo {
  padding-top: 5px;
}
/*
Section */
.section {
  padding-top: 5rem !important;
}

/*
Banner */

#index-banner {
  background: url('/img/img-capa.png') no-repeat center;
  height: 500px;
  margin: 0 auto;
}

/*
Serviços */
.servicos p {
 line-height: 1.7;
 font-size: 18px;
}

.verde {
 background-color: #5fbf78;
}


/*
Clientes */

.clientes p {
  color: #6f6c57;
  font-size: 22px;
  text-align: center;
}

 .portfolio-item img {
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
  filter: gray;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.portfolio-item img:hover {
  filter: none;
  filter: none;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.portfolio-item a:hover {
  text-decoration: underline;
}

#clientes .container {
  width: 90%;
}
/*
Sobre */

.sobre  {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.azul {
  background-color: #4ac1e9;
}
.sobre .titulo {
  font-size: 22px;
  line-height: 1.3;
  text-align: center;
}
.sobre p {
  font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 19px;
  line-height: 1.7;
  text-align: center;
}

/*
Rodapé */

footer.page-footer {
  margin-top: 0 !important;
}

footer .titulo {
  color: #7b7967;
  font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 23px;
  line-height: 1.3;
  text-align: center;
}

footer p {
  color: #7b7967;
  font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}
